#search_box{
	height:50px;
	width:100px;
	margin-top:5px;
	margin-left:5px;
	display:block;
	background:#fafafa;
	border-radius:0.5em;
	border:solid 1px #E5E5E5;
	padding:1em;
	transition:background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}

#search_box2{
	height:50px;
	width:100px;
	margin-top:5px;
	margin-left:5px;
	display:block;
	background:#fafafa;
	border-radius:0.5em;
	border:solid 1px #E5E5E5;
	padding:1em;
	transition:background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}

#input_list{
	list-style-type:none;
}
#input_list li{
	display:inline;
	float:left;
}
.span_style{
	height:50px;
	padding-top:15%;
	font-size:22px;
	background:bisque;
	margin-top:5px;
	margin-left:5px;
	position:relative;
	padding-left:8%;
}
.search_div{
	background-color:aliceblue;
	height:60px;
	position:relative;
}
.part{
	float:right;
	padding-right:7%;
	margin-top:-6%;
}
.delete_btn{
	width:15px;
	height:15px;
	padding:0;	
}